.content
  blockquote {
    color: #575757;
    border-left-color: #bbc3d1;
    background: #f5f5f5;
  }

#app .home .hero img
  max-height 135px;

.theme-default-content:not(.custom) {
  & > h1, h2, h3, h4, h5, h6 {
    margin-left: -1rem;
  }
}

body
  min-height: 100vh;
  font-family: BlinkMacSystemFont;

h1,h2,h3
  color: #fff;

a
  color: #63636e;

body,.sidebar,.navbar
  background-color: #17171D;

.sidebar-heading > span
  color: #fff;

.home .hero .action-button
  background-color: #63636e !important;
  border: none !important;

.navbar .links
  background-color: #17171D !important;
  color: #fff;

.nav-links a:hover
  color: #fff !important;

.site-name.can-hide
  color: #fff !important;

.theme-default-content:not(.custom) a:hover
  text-decoration: underline;
  color: #fff;